body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.app {
  text-align: center;
}

.product-detail {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #1e1e1e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.product-detail h2 {
  color: rgb(243, 241, 241) 
}

.product-detail p {
  color: #ccc;
}

.product-image {
  width: 100%; 
  height: auto; 
  border-radius: 8px; 
}

.buy-message-container {
  margin-top: 20px; /* Ajusta según sea necesario */
}

.buy-message {
  font-size: 20px;
}